body {
  background: #9AD4D6;
  font-family: comic sans ms, cursive;
  color: white;
}

.main-container {
display:flex;
flex-direction: column;
background: #2274A5;
justify-content: center;
align-items: center;
border-radius: 50px;
}


.header {
  font-size: 48px;
  font-weight: 1000;
  display:flex;
  justify-content:center;
  color: white;
}

.container {
  display:flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.grids {
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #F2FDFF;

}

.size-container {
display:flex;
align-items:center;
gap: 10px;
}

#input-container {
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

button {
border-radius: 5px;
height: 30px;
background: white;
}
